<footer>
    <div class="section">
        <ul>
            <li><img src="path/to/phone-icon.png" alt="Phone Icon"><a href="tel:16681562141">Phone: 16681562141</a></li>
            <li><img src="path/to/github-icon.png" alt="Github Icon"><a href="https://github.com/XiaoYu43002">Github: XiaoYu43002@github.com</a></li>
        </ul>
    </div>
    <div class="section">
        <ul>
            <li><img src="path/to/qq-icon.png" alt="QQ Icon"><a href="http://wpa.qq.com/msgrd?v=3&uin=1401914944&site=qq&menu=yes">QQ: 1401914944</a></li>
            <li><img src="path/to/email-icon.png" alt="Email Icon"><a href="mailto:yl1401914944@163.com">Email: yl1401914944@163.com</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2024 个人博客. 版权所有.</p>
    </div>
</footer>
