<footer>
    <div class="section">
        <ul>
            <li>
                <a href="https://github.com/XiaoYu43002">
                    {% include smartphone-call.svg %}
                </a><a href="tel:16681562141">Phone: 16681562141</a>
            </li>
            <li>
                <a href="https://github.com/XiaoYu43002">
                    {% include github-square.svg %}
                </a>
                <a href="https://github.com/XiaoYu43002">Github: XiaoYu43002@github.com</a>
            </li>
        </ul>
    </div>
    <div class="section">
        <ul>
            <li>
                <a href="https://github.com/XiaoYu43002">
                    {% include qq-icon.svg %}
                </a>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=1401914944&site=qq&menu=yes">QQ: 1401914944</a>
            </li>
            <li>
                <a href="https://github.com/XiaoYu43002">
                    {% include email-wanyi.svg %}
                </a>
                <a href="mailto:yl1401914944@163.com">Email: yl1401914944@163.com</a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>&copy; 2024 个人博客. 版权所有.</p>
    </div>
</footer>
